.logo{
  width: 70pt;
  height: 70pt;
  border-radius: 80px;
}

.LuDo{
  color: #007d99;
  height: 30pt;
  border-bottom: 1px solid;
  margin: 0px !important;
}
.pcImg{
  max-width: 100%;
}

.publicHomeMainLayout{
  background-color: #b8dbe0;
}
