// If you edit this file you need to compile the theme. See README.md for details.

// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 100;
//$v-font-family: "Courier new", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 90%, 90%);
//$v-background-color: #dbd6d6;
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 50%;
//$v-bevel-depth: 90%;
//$v-shadow-opacity: 50%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

//$v-focus-style: none;

//@import "../material/material.scss";
@import "../valo/valo.scss";

@import "homePubblica.scss";
@import "privateHome.scss";
@import "settings.scss";
@import "guessGame.scss";
@import "wfp.scss";
/*
@media screen and (min-width: 700px) {
    .WFPLayoutSx{
      width: 50% !important;
    }
    .WFPLayoutDx{
      width: 50% !important;
    }
 }

@media screen and (max-width: 699px) {
   .WFPLayoutSx{
     padding: 0px !important;
   }
   .WFPLayoutDx{
     padding-right: 0px !important;
     padding-left: 0px !important;
   }
}*/

@mixin materialProva {
  @include valo;

  $v-background-color: #007d99;
  $v-gradient: v-linear 0%;
  $v-border:0px;
  $v-font-size:2em;
  @include valo-button();

  .v-button{
    color: #ffffff;
    font-variant: small-caps;
    font-size: 1.25em;
  //  font-family: sans-serif;
  }

  .v-button::before{
    height: 100% !important;
  }

  .v-button:focus:after{
    box-shadow: none;
  }

.v-button:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 0;
  padding-top: 0;
  border-radius: 100%;
  background-color: rgba(236, 240, 241, .3);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.v-button:active:before {
  width: 120%;
  padding-top: 120%;
  transition: width .2s ease-out, padding-top .2s ease-out;
}

.v-menubar-borderless .v-menubar-menuitem{
  color: #007d99;
}

.v-menubar-borderless .v-menubar-menuitem:hover, .v-menubar-menuitem:focus{
  color: #00a7cc;
  outline: 0px !important;
}

.v-button-link, .v-button-borderless .v-menubar-menuitem-caption{
  color: #007d99;
  font-variant: inherit;
  font-size: inherit;
  font-family: inherit;
}
.v-tabsheet-tabitem{
  font-variant: small-caps;
}

.v-tabsheet-tabitemcell .v-tabsheet-tabitem-selected .v-caption.v-caption{
  color: #007d99;
  border-bottom-color: #007d99;
  font-variant: small-caps;
}
.v-button-borderless{
  color: inherit;
  font-variant: inherit;
  font-size: 1em;
}

.v-menubar-menuitem:focus{
    box-shadow: none !important;
}

  /* Track */
  .v-panel{}
  ::-webkit-scrollbar {
      width: 7px;
  }
  ::-webkit-scrollbar-track {
      background: #ffffff;
  }
  ::-webkit-scrollbar-thumb {
      background: #888888;
  }
  ::-webkit-scrollbar-thumb:hover {
      background: #555555;
  }

  div.v-window .v-window-contents {
      background-color: #fafafa
    }

/*privateHomeView, WFP, guessPartittalayout*/
.v-slot-imgGame{
  height: 100pt !important;
}
.imgGame{
  border-radius: 4pt;
}
/********************su tutta la privateUI*****************/
  .menuBarTitolo{
    margin-top: 20pt;
    margin-right: 20pt;
  }

/***************************error page***************************/
  .Ops{
    font-size: 2.5em;
  }

  .notFound{
    font-size: 1.4em;
    margin-top: -13pt;
  }

  /*********************statistiche************************/
  .SettingsVL{
    padding-left: 30pt!important;
  }

  .statisticheLayout{
      padding-top: 0px;
  }

  .buttonGameName{
    text-align: left;
    padding: 2px;
  }
  .buttonGameName:hover{
    background-color:rgba(210,210,210,0.7);
  }

}
