<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;GENERATE_GETTERS&quot;:false,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;darktheme&quot;}">
  <meta name="vaadin-version" content="8.0.5">
 </head>
 <body>
  <vaadin-vertical-layout responsive size-full>
   <vaadin-form-layout size-auto :middle :center>
    <vaadin-text-field></vaadin-text-field>
    <vaadin-label caption-as-html plain-text _id="emailLabel">
      email 
    </vaadin-label>
   </vaadin-form-layout>
  </vaadin-vertical-layout>
 </body>
</html>