// If you edit this file you need to compile the theme. See README.md for details.

// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 100;
//$v-font-family: "Courier new", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 90%, 90%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 50%;
//$v-bevel-depth: 90%;
//$v-shadow-opacity: 50%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

//$v-focus-style: none;

@import "../valo/valo.scss";

$v-included-components: remove($v-included-components, button);

@mixin darktheme {
  @include valo;

  //$v-shadow:  0 10px 10px v-shade;
  $v-background-color: #8fe5e8;
  //$v-background-color: grey;
  $v-font-size:2em;
  @include valo-button();

  .provaVertical{
    background: grey;
    border-radius: 5px;
  }

  .bottoneInvio{
    border-radius: 20px;
  }

  .panelChat {
    height: 30%;
  }
/**************************ui di gioco*******************************/
  .guessName{
    font-size: 1.7em;
  }

  .timeLabel{
    font-size:  1.4em;
  }

  .numPlayerLabel{
    font-size: 1.2em;
  }

  .layoutIndizi{
    padding-left: 0px;
    padding-top: 0px;
  }

  .indizi{
      font-size: 1.2em;
  }

  .layoutParole{
      padding-left: 0px;
      padding-top:  0px;
      padding-bottom: 0px;
  }

  .parolaSuggLayoyt{
    background-color: #eeeeee;
    padding: 5pt;
  }

  .pallinoChat{
    border-radius: 80px;
  }

  .nameLabelChat{
    font-weight: 400;
  }

  .baloonChat{
    background-color: #eeeeee;
    border-radius: 5px;
    padding: 7pt;
    font-size: 11pt;
  }
/***************************waiting for players**********************/
/*  .profileImageWFP{
    border-radius: 80px;
  }

  .nameLobby{
    font-size: 1.5em;
  }
*/
  .WFPverticalMainLayout{
    overflow-y: scroll;
  }

  .WFPGameName{
    font-size: 2.3em;
    max-width: 7cm;
  }

  .WFPLabel{
    font-size: 1.7em;
  }

  .WFPNumPLayers{
    font-size: 1.5em;
  }

  //nella lista
  .WFPplayerImg{
    border-radius: 80px;
    width: 30pt;
    height: 30pt;
  }

  .WFPPlayerName{
    font-size: 1.1em;
  }

  .WFPLayoutSx{
    padding-left: 0px;
  }

  .WFPerror{
    font-size: 2em;
  }

  .goHome{
    width: 90pt;
    height: 40pt;
  }
  // Insert your own theme rules here
}
